<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <profileable android:shell="true" />
        <receiver
            android:name="dev.aaa1115910.bv.r8test.R8TestControlReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
